<div id="container" class="containerProduto">
    <div class="container1Produto">
        <div>
            <button class="btnProduto">
                Novo
            </button>
        </div>
    </div>
    <div class="container2Produto">
        <table class="TableContainerProduto">
            <thead class="theadProduto">
            <th>
                Código
            </th>
            <th>
                Descrição
            </th>
            <th>
                Opções
            </th>
            </thead>
            <tbody>

                @foreach (var item in ViewBag.Produto)
                {
                    <tr>
                        <td class="tdProduto">@item.descriçao</td>
                        <td class="tdProduto">@item.unidadeMedida</td>
                        <td class="tdProduto">@item.estoqueAtual</td>
                        <td class="tdProduto">@item.epermanente</td>
                        <td class="tdProduto">@item.codigoCategoria</td>
                        <td class="tdProduto">
                            <div class="IconesContainerProduto">
                                <div class="Icone1Produto">
                                    <button class="trash-btn">
                                        <div class="fas fa-trash"></div>
                                    </button>
                                </div>
                                <div class="Icone2Produto">
                                    <button class="edit-button">
                                        <div class="fas fa-edit"></div>
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>

                }
            </tbody>


        </table>
    </div>
    <div class="container3Produto">
        <div>
            <button class="btnProduto BtnAzulColorProduto">
                Voltar
            </button>
        </div>
    </div>
</div>
