<div id="container" class="containerSecretaria">
    <div class="container1Secretaria">
        <div>
            <button class="btnSecretaria">
                Novo
            </button>
        </div>
    </div>
    <div class="container2Secretaria">
        <table class="TableContainerSecretaria">
            <thead class="theadSecretaria">
            <th>
                Código
            </th>
            <th>
                Descrição
            </th>
            <th>
                Opções
            </th>
            </thead>
            <tbody>

                @foreach (var item in ViewBag.Secretaria)
                {
                    <tr>
                        <td class="tdSecretaria">@item.Nome</td>
                        <td class="tdSecretaria">@item.telefone</td>
                        <td class="tdSecretaria">@item.estado</td>
                        <td class="tdSecretaria">@item.cidade</td>
                        <td class="tdSecretaria">@item.CNPJ</td>
                        <td class="tdSecretaria">
                            <div class="IconesContainerSecretaria">
                                <div class="Icone1Secretaria">
                                    <button class="trash-btn">
                                        <div class="fas fa-trash"></div>
                                    </button>
                                </div>
                                <div class="Icone2Secretaria">
                                    <button class="edit-button">
                                        <div class="fas fa-edit"></div>
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>

                }
            </tbody>


        </table>
    </div>
    <div class="container3Secretaria">
        <div>
            <button class="btnSecretaria BtnAzulColorSecretaria">
                Voltar
            </button>
        </div>
    </div>
</div>